/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@keyframes colorChange {
  from {
    color: black;
  }
  to {
    color: white;
  }
}
.navBar {
  background-color: aquamarine;
}
.navBar .items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 80px;
  margin-left: 5%;
  margin-right: 5%;
}
.navBar .items h1 {
  color: #817d7d;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
  font-style: bold;
}
.navBar .items nav {
  display: flex;
}
.navBar .items nav a {
  text-decoration: none;
  color: #817d7d;
  margin-left: 20px;
  font-family: 'Permanent Marker', cursive;
}
header {
  background-color: black;
  padding-top: 45px;
  padding-bottom: 10px;
}
header .topContent {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}
header .topContent img {
  width: 100%;
}
header .topContent h2 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  font-style: italic;
  order: 1;
  animation-name: "colorChange";
  animation-duration: 6s;
  font-family: 'Permanent Marker', cursive;
}
body {
  background-image: linear-gradient(#adadad, #817d7d, #adadad);
}
.aboutsite {
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.aboutsite h1 {
  text-align: center;
  font-size: 55px;
  color: white;
  font-family: 'Bungee Shade', cursive;
}
.aboutsite p {
  font-size: 20px;
  padding-left: 30px;
  font-family: 'Special Elite', cursive;
  color: white;
}
.slidePics {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-left: 5%;
  margin-right: 5%;
}
.slidePics .picSlides {
  width: 100%;
  height: 600px;
}
.slidePics h1 {
  text-align: center;
  font-size: 55px;
  color: #333333;
  font-family: 'Bungee Shade', cursive;
  margin-top: 50px;
  margin-bottom: 50px;
}
